<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<%= video %>

<div id="<%= viewId %>" class="suggestions new ng-cloak"
	ng-init="tags=<%= JSON.stringify(tags) %>;video=<%= JSON.stringify(video) %>;">
	
	<div ng-controller="videos.FormCtrl">

		<form name="form" action="" nonvalidate>
		
			<div class="row">
				<div class="large-12 columns">
					<h1><%= pageTitle %></h1>
					<p>ID: {{video._id}}</p>

					<input type="hidden" name="_csrf" value="<%= token %>">

					<input type="url" placeholder="URL" ng-model="video.url" name="url" required value="<%= video.url %>" />

					<small class="error" ng-show="form.url.$dirty && form.url.$invalid">
						<span ng-show="form.url.$error.required">Please add a url</span>
						<span ng-show="form.url.$error.url">Please add a valid url</span>
					</small>

					<button class="small button" ng-disabled="form.url.$invalid" ng-click="clickRetrieve($event)" ng-show="!state.retrieving">
						Retrieve information
					</button>
					<i class="icon-refresh icon-spin" ng-show="state.retrieving"></i>

					<br />

					<div ng-show="video.thumbM">
						<div class="th"><img ng-src="{{video.thumbM}}" /></div>
						<br />
					</div>

					<input type="text" placeholder="Title" ng-model="video.title" ng-minlength="5" name="title" required />

					<small class="error" ng-show="form.title.$dirty && form.title.$invalid">
						<span ng-show="form.title.$error.required">Please add a title</span>
						<span ng-show="form.title.$error.minlength">Please add at least 5 characters</span>
					</small>
					
					<input type="text" placeholder="Presenter(s)" ng-model="video.presenter" name="presenter" />
					
					<label for="">Description</label>
					<textarea ng-model="video.description"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>Tags</label>
					<div class="select_tags" style="width:100%;"></div>
				</div>
			</div>
			
			<br />

			<div class="row">
				<div class="large-12 columns">
					<button class="button" ng-show="!state.saving" ng-disabled="form.$invalid" ng-click="clickSave($event)">Save</button>
					<i class="icon-refresh icon-spin" ng-show="state.saving"></i>
				</div>
			</div>
			
		</form>
		
	</div>

</div>
