<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="videos show ng-cloak" ng-controller="videos.ShowCtrl" data-video="<%= JSON.stringify(video) %>">
	<div class="row">
		<div class="large-12 columns">
			<h1><%= video.title %></h1>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div>
				<% if (video.provider === 'vimeo') { %>
					<%- include show_vimeo %>
				<% } %>
				<% if (video.provider === 'youtube') { %>
					<%- include show_youtube %>
				<% } %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns" style="text-align: right;">
			<% if (user) { %>
				<button class="small button" ng-click="markAsSeen()" ng-hide="video.seen"><i class="icon-check-empty"></i> Mark as seen</button>
				<span ng-show="video.seen"><i class="icon-check"></i> Seen</span>
			<% } %>
		</div>
	</div>
		
	<div class="row">
		<div class="large-12 columns">
			<p>
				<a href="<%= video.url %>" target="_blank"><%= video.url %></a>
			</p>
			<p>Watch count: <%= video.watchCount || 0 %></p>
			<p>
				Tags:
				<% video.tags.forEach(function (tag, ix) { %>
					<span class="label"><%= tag %></span>
				<% }); %>
			</p>
			<div>
				<%- sanitizeHtml(video.description) %>
			</div>
		</div>
	</div>

	<%- include ../disqus -%>
</div>