<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="tags index">
	<div class="row">
		<div class="cloud">
			<% tags.forEach(function (ele, ix) { %>
				<a href="/tags/<%= ele._id %>" rel="<%= ele.value %>" data-id="<%= ele._id %>"><%= ele._id %></a>
			<% }); %>
		</div>
	</div>
	
	<script>
		$(function () {

			var Control = can.Control({

				init: function (el, options) {
					$('.cloud a').tagcloud();
				},

				'.cloud a click': function(ele, ev) {
					console.log($(ele).data('id'));
					return false;
				}
			});

			var control = new Control($('#<%= viewId %>'));

		});
	</script>
</div>