<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="tags index">

	<div class="row">
		<div class="cloud">
			<% tags.forEach(function (ele, ix) { %>
				<a href="/tags/<%= ele._id %>" rel="<%= ele.value %>" data-id="<%= ele._id %>"><%= ele._id %></a>
			<% }); %>
		</div>
	</div>
	
	<div class="row">
		<div class="videos"></div>
	</div>
	
	<script type="text/mustache" id="videosTemplate">
		{{url}}
	</script>
	
	<script>
		$(function () {
			APP.modules.tags.index.init('#<%= viewId %>');
		});
	</script>

</div>